<aside class="info-panel">
  <dl class="details">
    <div class="details__group">
      <dt>{{ 'analysisRun.infoPanel.startDate' | transloco }}</dt>
      <dd>
        {{
          pendingAnalysis()?.startedAt | localizedDate: { dateStyle: 'medium', timeStyle: 'medium' }
        }}
      </dd>
    </div>

    <div class="details__group">
      <dt>{{ 'analysisRun.infoPanel.targetURL' | transloco }}</dt>
      <dd class="details__url">{{ pendingAnalysis()?.target?.targetURL }}</dd>
    </div>

    @if (pendingAnalysis()?.target?.limitRange) {
      <div class="details__group">
        <dt>{{ 'analysisRun.infoPanel.dateRange' | transloco }}</dt>
        <dd class="details__range">
          <span>{{ pendingAnalysis()?.target?.range?.startDate | localizedDate }}</span>
          <span class="details__range-sep">–</span>
          <span>{{ pendingAnalysis()?.target?.range?.endDate | localizedDate }}</span>
        </dd>
      </div>
    }
  </dl>
</aside>
