:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px var(--border-subtle);
  padding: 10px 15px;
}

#left-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

#right-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.logo {
  max-width: 25px;
}

p {
  background-color: var(--bg-primary);
}

.icon {
  min-width: 30px;
}
