:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px var(--border-subtle);
  padding: 10px 15px;
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 4px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: none;
  cursor: pointer;
  transition:
    color 0.1s ease,
    transform 0.1s ease;

  &:hover {
    color: var(--accent-hover);
    transform: scale(1.05);
  }

  &:focus-visible {
    color: var(--accent-hover);
    transform: scale(1.05);
  }

  &:active {
    color: var(--accent-active);
    transform: scale(0.9);
  }
}

.header__logo-icon {
  width: 22px;
  height: 40px;
}

.header__actions {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.header__action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: none;
  cursor: pointer;
  width: 33px;
  transition:
    color 0.25s ease,
    transform 0.2s ease;

  &:hover {
    color: var(--accent-hover);
    transform: scale(1.2);
  }

  &:focus-visible {
    color: var(--accent-hover);
    transform: scale(1.05);
  }

  &:active {
    color: var(--accent-active);
    transform: scale(0.9);
  }
}

.header__action-icon {
  width: 30px;
}
