.table-section {
  &__scroll {
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;
    max-height: 300px;
    overflow: hidden;
  }

  &__no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--text-disabled);
    font-size: 0.875rem;
    font-style: italic;
  }
}
