:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  max-width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
