:host {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  min-height: 100vh;
  min-width: 360px;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--bg-primary);
}
