footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  border-top: solid 1px var(--border-subtle);
}

.copyright {
  font-size: small;
}

.about-btn {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  border: none;
  padding: 0.25rem;
  cursor: pointer;
  transition:
    color 0.1s ease,
    transform 0.1s ease;

  &:hover {
    color: var(--accent-hover);
    transform: scale(1.05);
  }

  &:focus-visible {
    color: var(--accent-primary);
    transform: scale(1.05);
  }

  &:active {
    color: var(--accent-active);
    transform: scale(0.9);
  }
}
