:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.meta-bar {
  position: absolute;
  top: 40px;
  right: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
