<div class="logo">
  <img src="/logo.svg" class="logo__image" alt="" />
</div>

<div class="analysis-form">
  <form [formRoot]="analysisTargetForm">
    <label for="analysisTargetURL" class="analysis-form__label"
      >Enter link to analysis target</label
    >
    <input
      type="url"
      id="analysisTargetURL"
      class="analysis-form__input"
      placeholder="https://github.com/JohnDoe/Project.git"
      [formField]="analysisTargetForm.targetURL"
      [class.invalid]="isInvalid(analysisTargetForm.targetURL)"
    />

    @if (analysisTargetForm.targetURL().touched() && analysisTargetForm.targetURL().invalid()) {
      <ul class="analysis-form__error-list">
        @for (error of analysisTargetForm.targetURL().errors(); track error.message) {
          <li>{{ error.message }}</li>
        }
      </ul>
    }

    <label class="analysis-form__checkbox-label">
      <input
        class="analysis-form__input"
        type="checkbox"
        [formField]="analysisTargetForm.limitRange"
      />
      Limit date range
    </label>

    <div
      class="analysis-form__date-range-wrapper"
      [class.expanded]="!analysisTargetForm.startDate().hidden()"
    >
      @if (!analysisTargetForm.startDate().hidden()) {
        <div class="analysis-form__date-range" animate.leave="collapsing">
          <div class="analysis-form__dates">
            <input
              type="date"
              class="analysis-form__input"
              [formField]="analysisTargetForm.startDate"
              [class.invalid]="isInvalid(analysisTargetForm.startDate)"
            />
            <span class="analysis-form__dates-sep">–</span>
            <input
              type="date"
              class="analysis-form__input"
              [formField]="analysisTargetForm.endDate"
              [class.invalid]="isInvalid(analysisTargetForm.endDate)"
            />
          </div>

          @if (
            analysisTargetForm.startDate().touched() && analysisTargetForm.startDate().invalid()
          ) {
            <ul class="analysis-form__error-list">
              @for (error of analysisTargetForm.startDate().errors(); track $index) {
                <li>{{ errorMessage(error) }}</li>
              }
            </ul>
          }

          @if (analysisTargetForm.endDate().touched() && analysisTargetForm.endDate().invalid()) {
            <ul class="analysis-form__error-list">
              @for (error of analysisTargetForm.endDate().errors(); track $index) {
                <li>{{ errorMessage(error) }}</li>
              }
            </ul>
          }
        </div>
      }
    </div>

    <button
      class="analysis-form__submit-btn"
      btn="primary"
      type="submit"
      [disabled]="analysisTargetForm().submitting()"
    >
      @if (analysisTargetForm().submitting()) {
        Loading ...
      } @else {
        Start Analysis
      }
    </button>
  </form>
</div>
